body{
    background-color: white;
    font-family: "Times New Roman", Times, serif;
    height: 100%;
    width: 100%;
    color: #222;
}

.bg-linear{
    background: linear-gradient(45deg, #00ffff, #ffccff);
    border-bottom: 1px solid white;
    padding: 1px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
}

.navbar-nav li{
    padding-right: 20px;
}

.nav-link{
    font-size: 1.1em;
}


h1, h2, h3{
    font-family: "Times New Roman", Times, serif;
    padding: 50px;
    float: center;
    color: black;
    letter-spacing: 2px;
    text-decoration: none;
}

.opacity-header {
    font-size: 18px;
    opacity: 0.65;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 2px;
    text-decoration: none;
}

p {
    text-indent: 25px;
}

#carouselExampleSlidesOnly{
    height: 75%;
}
.carousel-slide{
    height: 75%;
}

.aside-button > li { 
    margin-bottom: 10px;
}

.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: linear-gradient(45deg, #00ffff, #ffccff);
}

.jumbotron {
    padding: 1px;
    margin: 1px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: linear-gradient(45deg, #00ffff, #ffccff);
}

.drop {
   background: rgba(255,255,255,0.4);
   border-radius: 10px;
   border: 1px solid rgba(255,255,255,0.2);
   position: absolute;
   backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
   display: block;
   margin: 0 auto;
}

.drop1 {
   width: 47%;
   height: 150px;
   top: 56px;
   left: 0;
   right: 0;
   z-index: 2;
   backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.drop2 {
    width: 40px;
    height: 40px;
    top: -30px;
    left: -80%;
    right: 0;
    z-index: 4;
}

.drop3 {
    width: 60px;
    height: 60px;
    top: 120px;
    right: 30px;
    z-index: 3;
}

.drop4 {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   top: -55px;
   right: 20px;
}

.btn-primary{
    background-color: white;
    color: black;
    border: 1px solid gray;
}
.btn-primary:hover{
    background-color: #ffccff;
    border: 1px solid #ffccff;
    animation-name: background-color;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
}

.btn-outline-secondary {
    margin: auto;
    padding: auto;
}

.rounded-circle{
    width: 90px;
    height: 90px;
}

.wrap {
    width: 100%; 
    min-height: 100%; 
    overflow:hidden; 
    min-height: 99vh; 
    background: linear-gradient(45deg, #00ffff, #ffccff); 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative;
}

#wrap-h1 {
    font-family: Arial; 
    color: white; 
    font-size: 20px;  
    text-shadow: 1px 1px rgba(0,0,0,0.3);
    text-transform: uppercase;
}

#wrap-p {
    font-family: Arial; 
    color: white; 
    font-size: 20px; 
    text-shadow: 1px 1px rgba(0,0,0,0.3);
}

#container-h1 {
    font-family: Arial; 
    color: black; 
    font-size: 20px;  
    text-transform: uppercase;
}

#container-p {
    font-family: Arial; 
    color: black; 
    font-size: 20px; 
}

.card-body {
    width: 75%;
    height: 75%;
    padding: 2px;
    margin: 2px;
}

.card-img-top{
    width: 200px;
    height: 200px;
    padding: auto;
    margin: 1px;
}

.card-text {
    text-align: center;
    width: 100%;
    padding: 2px;
    margin: 2px;
}
@keyframes background-color{
    100%{
        background-color: red;
    }
}
.jumbotron{
    padding: 1rem;
    border-radius: 0;
}
.padding{
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
}
.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem; 
}

.wpcf7-form-control-wrap {
    position: relative;
    border-color: gray;
}

footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

#copyrights {
    text-align: right;
    background: white;
    padding: 10px;
    text-align: center;
    
/*hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;    
}

.text-center {
    text-align: center!important;
}*/

.form-signin {
    width: 50%;
    max-width: 130px;
    padding: 15px;
    margin: 15px;
}

form {
    display: block;
    margin-top: 0em;
}

.mb-3 {
    margin-bottom: 1rem!important;
}

label {
    display: inline-block;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .checkbox {
    font-weight: 400;
}

.w-100 {
    width: 100%!important;
}

.btn-group-lg>.btn, .btn-lg {
    background-color: #563d7c;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    border: 1-0.5px solid transparent;
}

.btn-primary{
    background-color: #6648b1;
    border: 1px solid #563d7c;
}

a.btn-primary {
    
}

.btn-primary:hover{
    background-color: #563d7c;
    border: 1px solid #563d7c;
    animation-name: background-color;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
}

.mt-5 {
    margin-top: 3rem!important;
}

.text-muted {
    color: #6c757d!important;
}
